<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">

    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
        <div fxFlex>
            <p>Display the details of the Dish here</p>

            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h3>{{dish.name | uppercase}}</h3>
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
                <mat-card-content>
                    <p>{{dish.description}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button [routerLink]="['/dishdetails', prev]">
                        <span class="fa fa-chevron-left fa-lg"></span></button>
                    <button mat-button (click)="goBack()">BACK</button>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                    <span class="flex-spacer"></span>
                    <button mat-button [routerLink]="['/dishdetails', next]">
                        <span class="fa fa-chevron-right fa-lg"></span></button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
        <div fxFlex>
            <p>Display the list of comments here</p>

            <mat-list>
                <h3>comments</h3>
                <mat-list-item *ngFor='let comment of dish.comments'>

                    <h4 matline>{{comment.comment}}</h4><br>
                    <p matline>{{comment.rating}} stars</p><br>
                    <p matline>
                        <span>--{{comment.author}}{{comment.date   | date}}</span>
                    </p><br>
                </mat-list-item>
            </mat-list>
        </div>
        <div [hidden]="dish || errMess">
            <mat-spinner></mat-spinner>
            <h4>Loading . . . Please Wait</h4>
        </div>
        <div fxFlex *ngIf="errMess">
            <h2>Error</h2>
            <h4>{{errMess}}</h4>
        </div>


    </div>
    <div fxFlex='40'>
        <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field class="half-width">
                    <input matInput formControlName="author" placeholder="Name" type="text" required>
                    <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
                </mat-form-field>



            </p>
            <p>
                <mat-slider matInput formControlName="rating" thumbLabel tickInterval='1' min="1" max="5" step="1"
                    value="1">aniket</mat-slider>
            </p>
            <p>
                <mat-form-field class="full-width">
                    <textarea matInput formControlName="comment" placeholder="Your comments" rows=12></textarea>
                </mat-form-field>
            </p>
            <button type="submit" mat-button class="background-primary text-floral-white">Submit</button>
        </form>
    </div>
</div>